<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Toobaa Foundation</title>
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='assets/tf_favicon.png') }}">
    <link rel="apple-touch-icon" href="{{ url_for('static', filename='assets/tf_favicon.png') }}"> 
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/css/all.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Nastaliq+Urdu:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>

    <header>
        <nav class="navbar">
            <h1>Toobaa Foundation</h1>
            <ul class="ul1" id="navMenu">
                <li><a href="/">Home</a></li>
                <li><a href="/about">About us</a></li>
                <li><a href="/contact">Contact</a></li>
            </ul>

            <div class="header-search">
                <input type="text" placeholder="Search" id="searchInput">
                <button id="searchBtn">
                    <i class="fa-solid fa-magnifying-glass"></i>
                </button>
            </div>
            <div class="hamburger" id="hamburger" spellcheck="false">
                <i class="fa-solid fa-bars"></i>
            </div>
        </nav>
    </header>
    <div class="banner-slider">
    <div class="banner-track" id="bannerTrack">
    </div>
</div>

   <section class="s2">
    <h2>Categories</h2>
    <div class="bookstypes">
        <div><a href="#" onclick="filterBooks('all'); return false;">All Books</a></div>
        <div><a href="#" onclick="filterBooks('English Books'); return false;">English Books</a></div>
        <div><a href="#" onclick="filterBooks('Pothwari Books'); return false;">Pothwari Books</a></div>
        <div><a href="#" onclick="filterBooks('History Books'); return false;">History Books</a></div>
        <div><a href="#" onclick="filterBooks('Punjabi Books'); return false;">Punjabi Books</a></div>
        <div><a href="#" onclick="filterBooks('Urdu Poetry'); return false;">Urdu Poetry</a></div>
        <div><a href="#" onclick="filterBooks('Tasawuf'); return false;">Tasawuf</a></div>
        <div><a href="#" onclick="filterBooks('Biographies'); return false;">Biographies</a></div>
        <div><a href="#" onclick="filterBooks('Philosophy Books'); return false;">Philosophy Books</a></div>
        <div><a href="#" onclick="filterBooks('Sufi Nama'); return false;">Sufi Nama</a></div>
        <div><a href="#" onclick="filterBooks('PhD Thesis'); return false;">PhD Thesis</a></div>
        <div><a href="#" onclick="filterBooks('Islamic Books'); return false;">Islamic Books</a></div>
    </div>
</section>

    <section class="s-new">
    <h2 class="new-heading">New Books</h2>
    <div class="new-slider-wrapper">
        <button class="new-prev" id="newPrev">&#8249;</button>
        <div class="new-slider" id="newSlider">
            <div class="new-track" id="newTrack"></div>
        </div>
        <button class="new-next" id="newNext">&#8250;</button>
    </div>
</section>

    <section class="s3">
        <h2 class="fh2">All Books</h2>
        <div class="booksdiv" id="booksdiv">
        </div>
    </section>

    <footer class="footer">
        <h2 class="about">About Us</h2>
        <p class="about">We are a foundation dedicated to preserving rare and out-of-print books that have disappeared from the market. Through careful collection and digitization, we bring these forgotten treasures back to life and make them available to everyone who loves books.
        Our mission is simple: Save the stories that time tried to erase.</p>
        <p>Email: toobaafoundation@gmail.com</p>
        <div class="icons">
            <p><a href="#"><i class="fa-brands fa-instagram"></i></a></p>
            <p><a href="#"><i class="fa-brands fa-facebook"></i></a></p>
            <p><a href="#"><i class="fa-brands fa-tiktok"></i></a></p>
        </div>
        <p>&copy; 2025 Toobaa Foundation. All rights reserved.</p>
    </footer>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="{{ url_for('static', filename='js/script.js') }}" defer></script>
</body>
</html>